@use "sass:meta";

@font-face {
  font-family: 'Circular Std';
  font-weight: normal;
  font-style: normal;
  src: local('Circular Std Book'), local('CircularStd-Book'), url('@/assets/fonts/CircularStd-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: 500;
  font-style: normal;
  src: local('Circular Std Medium'), local('CircularStd-Medium'), url('@/assets/fonts/CircularStd-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Std';
  font-weight: bold;
  font-style: normal;
  src: local('Circular Std Bold'), local('CircularStd-Bold'), url('@/assets/fonts/CircularStd-Bold.woff2') format('woff2');
}

@include meta.load-css("variables");

// @import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css";

body {
  background-color: #000;
}

.v-theme--mainnetTheme {
  --v-theme-background: 0,0,0 !important;
  --v-theme-surface: 0,0,0 !important;
}

.text-white {
  color: #fff;
}

a.v-btn--size-default {
  padding: 0 !important;
}

.v-card--variant-elevated, .v-card--variant-flat {
  background-color: #212121 !important;
}

.player-queue .v-list {
  background-color: #212121 !important;
}