$font: 'Circular Std', sans-serif !default;
$heading-font: $font !default;

@use 'vuetify' with (
  $body-font-family: $font,
  $heading-font-family: $heading-font,
  $reset: false,
  $color-pack: false,
);